body {
    background-color: rgb(15, 15, 15);
}

.container {
    height: 630px;
    width: 600px;
    margin: 0 auto;
    background-color: aquamarine;
    font: condensed 120% sans-serif;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
    box-shadow: 0, 0, 20px 0 rgba(0, 0, 0, 0.4);
    padding: 40px;
    width: 100%;
    border: none;

    padding: 5px;
}

li {
    box-shadow: 0, 0, 20px 0 rgba(0, 0, 0, 0.4);
    padding: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 5px;

}

#color1 {
    background-color: PINK;
}

#color2 {
    background-color: rgb(255, 123, 0);
}

#color3 {
    background-color: red;
}

#color4 {
    background-color: green;
}

#default {
    background-color: aquamarine;
}

button[type=button] {


    width: 15%;
    background: rgba(30, 243, 6, 0.927);
}